annotated-types==0.7.0
cachetools==5.3.3
certifi==2024.6.2
chardet==5.2.0
charset-normalizer==3.3.2
css-html-js-minify==2.5.5
cssselect==1.2.0
cssutils==2.11.1
htmlmin==0.1.12
idna==3.7
Jinja2==3.1.4
lxml==5.2.2
MarkupSafe==2.1.5
more-itertools==10.3.0
numpy==1.26.4
pandas==2.2.2
pillow==10.3.0
premailer==3.10.0
pydantic==2.7.4
pydantic_core==2.18.4
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
reportlab==4.2.0
reportlib==3.4.0
requests==2.32.3
six==1.16.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.1
